{% extends   'base.html' %}
{% load static %}

{%block content%}

<h1 class="pt-5 pl-5"> Profile</h1>



<div class="container">

<div class="container text-center pb-5">
  <div class="row">
    <div class="col">
     Pending : <span class="badge text-bg-danger">{{p_order}}</span>
    </div>
    <div class="col">
     Dliverd : <span class="badge text-bg-danger">{{d_order}}</span>
    </div>
    <div class="col">
     in_progress : <span class="badge text-bg-dark">{{in_order}}</span>
    </div>
    <div class="col">
    Out Of Order : <span class="badge text-bg-info">{{out_order}}</span>
    </div>
    <div class="col">
    out_stock_order: <span class="badge text-bg-info">{{out_stock_order}}</span>
    </div>
  </div>
</div>
<table class="table">

  <thead>
    <tr class="table-dark">
      <th scope="col">Name</th>
      <th scope="col">Product</th>
      <th scope="col">Catgory</th>
      <th scope="col">Status</th>

    </tr>
  </thead>
  <tbody>
  {% for item in order %}
    <tr>
      <td>{{item.customers}}</td>
      <td>{{item.iteam}}</td>
      <td>{{item.iteam.category}}</td>
      <td>{{item.status}}</td>
    </tr>
  {% endfor %}
  </tbody>
</table>
</div>
{%endblock%}




