
{% extends   'base.html' %}
{% load static %}

{% block content %}
<!--    {{form.as_p}}-->
<h1>Register</h1>
  <form method="POST" action="">
    {%csrf_token%}
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">{{form.username.label}}</label>
    {{form.username}}
    {{form.username.errors}}
  </div>
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">{{form.email.label}}</label>
    {{form.email}}
    {{form.email.errors}}
  </div>
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">{{form.password1.label}}</label>
    {{form.password1}}
    {{form.password1.errors}}
  </div>
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">{{form.password2.label}}</label>
    {{form.password2}}
    {{form.password2.errors}}
    <script src="https://www.google.com/recaptcha/api.js"></script>
    <div class="g-recaptcha" data-sitekey="6LcmhK4jAAAAAM79lVvIDUWACFug2Awk8gLUqNMy"></div>
  </div>
      <button type="submit" class="btn btn-primary">Register</button>
      </br>
      <a href="{% url 'login' %}"> Login</a>
  </form>




{% endblock %}